.links{
    display: flex;
    max-width: 300px;
    margin: auto;
    justify-content: space-around;
    flex-direction: column;
    background: rgb(43, 29, 236);
    height: 400px;
}
.links li {
    text-align: center;
    list-style: none;
}
.tugmacha{
    display: block;
    width: 80%;
    height: 30px;
    text-decoration: none;
    background: rgb(218, 204, 11);
}
.messengers{
    width: 90%;
    height: auto;
    display: flex;
    justify-content: space-around;
}
.fa-telegram{
    color: rgb(241, 230, 230);
    font-size: 50px;
}
.fa-facebook{
    color: rgb(241, 230, 230);
    font-size: 50px;
}
.fa-telegram:hover{
    color: white;
    font-size: 50px;
}
.fa-facebook:hover{
    color: white;
    font-size: 50px;
}