.section3{
    width:100%;
    min-height: 1290px;;
    background: white;
    position:relative;
    padding:180px 0px 110px 0px;
    overflow: hidden;
}
.section3 .magazin{
    width: 360px;
    height: 320px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    margin: 10px 0;
    padding: 80px 65px 30px 30px;
    z-index: 0;
}
.section3 .magazin:nth-child(1){
    background: url('../../images/shop1_03.jpg') no-repeat center center/cover;
}
.section3 .magazin:nth-child(2){
    background: url('../../images/shop2_03.jpg') no-repeat center center/cover;
}
.section3 .magazin:nth-child(3){
    background: url('../../images/shop3_03.jpg') no-repeat center center/cover;
}
.section3 .magazin img{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}
.section3 .magazin .black_screen{
    width:100%;
    height: 100%;
    position:absolute;
    top:0;
    left:0;
    background: black;
    opacity: 0.5;
    transition: 1s;
}

.from100021, .from100022, .from100023{
    display: flex;
    align-items: center;
    justify-content: center;
    width:100px;
    height:35px;
    border:3px solid white;
    font-size: 15px;
    font-weight: 400;
    color: white;
    transition:1s;
}
.from100021{
    border:3px solid blue;
}
.from100022{
    border:3px solid #f6ae48;
}
.from100023{
    border:3px solid lime;
}
.bottom2{
    display: flex;
    width:100%;
    justify-content: space-between;
    z-index:1;
}
.section3 .magazin:hover .black_screen{
    opacity: 0.9;
    transition: 1s;
}
.section3 .magazin:hover .bottom2{
    z-index:0;
}
.section3 .magazin h1{
    color:white;
    font-size: 50px;
    font-weight: 700;
    z-index:1;
}
.section3 .magazin hr{
    display: block;
    background: white;
    height: 3px;
    z-index:1;
}
.section3 .magazin:hover h1{
    z-index:0;
}
.section3 .magazin:hover hr{
    z-index:0;
}
.section3 .settings{
    display: flex;
    align-items:center;
    justify-content: center;
    width:615px;
    height:525px;
    background: #f6ae48;
    position: absolute;
    left: 0;
    top: -45px;
    overflow: hidden;
    
}
.section3 .settings h2{
    font-size: 50px;
    color: white;
    margin-top:-150px;
}
.section3 .magazin a{
    width:100%;
    height: 100%;
    position:absolute;
    top:0;
    left:0;
    transition: 1s;
    z-index:1;
}

.setting_icon1{
    width: 144px;
    height:144px;
    color: white;
    animation: setting_icon1 2s infinite;
}
@keyframes setting_icon1{
    from {
        transform: rotate(-360deg)
    }
    to {
        transform: rotate(0deg)
    }
}
.setting_icon2{
    width: 144px;
    height:144px;
    color: white;
    animation: setting_icon2 1.5s infinite;
    position:absolute;
    top:-60px;
    right:-80px;
}
@keyframes setting_icon2{
    from {
        transform: rotate(360deg)
    }
    to {
        transform: rotate(0deg)
    }
}
.setting_icon3{
    width: 144px;
    height:144px;
    color: white;
    animation: setting_icon3 15s infinite;
    position:absolute;
    top:80px;
    left:80px;
}
@keyframes setting_icon3{
    from {
        transform: rotate(720deg)
    }
    to {
        transform: rotate(0deg)
    }
}
.typeicon2{
    color: green;
    z-index:1;
    font-size: 40px;
}
.be_first{
    display: flex;
    width: 570px;
    flex-direction: column;
    align-items:flex-start;
    margin-top:120px;
    padding-top:50px;
}
.be_first h3{
    font-size: 36px;
    font-weight: 700;
    color: black;
}
.be_first p{
    font-size: 24px;
    font-weight: 400;
    color: black;
    line-height: 50px;
    margin-top:45px;
}
.search_system {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top:120px;
}
.search_system img{
    margin-top:45px;
}

@media(max-width:800px){
    .section3{
        overflow:hidden;
    }
    .section3 .magazin{
        width:90%;
        border-radius:4px;
    }

    .settings{
        width:100%;
    }
    .search_system{
        flex-direction: row;
        flex-wrap:wrap;
        justify-content: space-around;
        width:90%;
    }
    .magazin{
        z-index:0;
    }
    .be_first{
        width:95%;
    }
}
@media(max-width:520px){
    .section3 .settings h2{
        display: none;
    }
}