.comments{
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 750px;
    margin: auto;
    padding:0px 30px ;
    background:linear-gradient(to left, rgb(3, 2, 58),rgb(17, 13, 252),rgb(17, 13, 252));
}
.comment{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.comments .comment_list{
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}
.comments .input_block{
    display: flex;
    width:100%;
    height: 50px;
    background: rgb(1,2,3,0);  
    
}
.comments .input_name{
    background: rgb(33, 116, 224);
    width:20%;
    height: 100%;
    border-top-left-radius:25px;
    border-bottom-left-radius:25px;
    font-size: 30px;
}
.comments .input_message{
    background: rgb(33, 116, 224);
    width:80%;
    height: 100%;
    border-top-right-radius:25px;
    border-bottom-right-radius:25px;
    font-size: 30px;
}
.comments .input_name::placeholder, .comments .input_message::placeholder{
    color:black;
    font-size: 30px;
}